<template>
    <div class="create-note">
        <form @submit.prevent="checkForm($event)" class="note_form">
            <ul>
                <li><input v-model="note.name" placeholder="Заголовок"></li>
                <li><textarea v-model="note.text" placeholder="Новая заметка..."></textarea></li>
                <li>
                    <button type="submit">Save</button>
                    <button type="submit" v-on:click.stop.prevent="Cancel($event)">Cancel</button>
                </li>
            </ul>
        </form>
    </div>
</template>

<style lang="scss" src="./create-note.scss" scoped></style>
<script src="./create-note.js"></script>
