.note_form ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.note_form li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.note_form input, .note_form textarea {
  height: 20px;
  width: 220px;
  padding: 5px 8px;
  border: 1px solid #aaa;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px;
  resize: vertical;
}

.note_form input:focus, .note_form textarea:focus {
  background: #fff;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa;
}

.note_form {
  width: 50%;
  margin: 0 auto;
}
