<template>
    <div v-show="showControlBlock">
        <div v-for="(dragControlPath, key) in dragControlParts" class="show-control-block"
             v-bind:key="key" v-bind:class="[dragControlPath, {active:dragControlPath === dragControlPathCurrent}]"
             @dragenter="onDragEnterPath(dragControlPath)"
             @dragleave="onDragLeavePath(dragControlPath)"
             @drop="onDropPath(dragControlPath)"
        ></div>
    </div>
</template>

<style lang="scss" src="./drag-control-block.scss" scoped></style>
<script src="./drag-control-block.js"></script>
