.drag-control-block {
  position: relative;
  //height: 100%;
}
.show-control-block {
  // opacity: 0;
  position: relative;
  height: 100%;
}
/* .left {
  position: absolute;
  width: 33.33%;
  height: 100%;
  background: #fc5a5a;
} */
.left, .center, .raight {
  width: 33.33%;
  position:absolute;
  opacity: 0;
  //z-index:-999;
}
.left {
  background: linear-gradient(to left, #ffffff 40px, #f12a09);
}
.center {
  left: 33.33%;
  background: radial-gradient(#f12a09 1%, #ffffff 60px  );
}
.raight {
  right: 0;
  background: linear-gradient(to right, #ffffff 40px, #f12a09);
}
.active{
  opacity: 1;
}