<template>
    <div class="show-notes">
        <div class="show-notes">
            <drop class="product-item"
                  v-for="(note, index) in notesFiltered" :key="index"
                  v-bind:style="{background : note.options.color}"
                  @dragenter="onDragEnter(note, ...arguments)">

                <drop @drop = "dropNote(note)">
                    <drag-control-block :showControlBlock="showNoteId === note.uuidv1"
                                        :currentBlock="note"
                                        @dropBlockControlPath = "dropBlockControlPath"/></drop>

                <drag class="product-list"
                      :image-x-offset=100
                      :image-y-offset=100
                      @dragstart="onDragStart(note, ...arguments)">

                    <div slot="image"><img src="@/assets/note.png"></div>

                    <h3>{{ note.name }}</h3>
                    <h3 class="text">{{ note.text }}</h3>
                    <button v-if="note.options.status === 'archived'" class="button" @click="ofArchive(note)">
                        из архива
                    </button>
                    <button v-else class="button" @click="addArchive(note)">в архив</button>
                    <router-link :to="{name: 'EditNote', params: {id: note.uuidv1 }}">
                        <button class="button">Редактировать</button>
                    </router-link>
                    <button class="button" @click="removeNote(note)">&times;</button>
                </drag>

            </drop>
        </div>
    </div>
</template>

<style lang="scss" src="./show-notes.scss" scoped></style>
<script src="./show-notes.js"></script>
