* {box-sizing: border-box;}
.product-item {
  position: relative;
  display:inline-block;
  width: 300px;
  text-align: center;
  margin: 10px;
  border-bottom: 2px solid #b6b6b6;
  background: #828282;
  transition: .3s ease-in;
  outline: #b6b6b6 solid 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.product-item:hover {border-bottom: 2px solid #fc5a5a;}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
  padding: 15px 0;
}
.product-list h3.text  {
  white-space: pre-wrap;
}
.product-list h3  {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
  white-space: pre-wrap;
}
.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
}
.product-item:hover .button {background: #fc5a5a;}
a{
  text-decoration: none;
  color: white;
}
