<template>
    <div class="edit-note">
        <form @submit.prevent class="note_form">
            <ul @mouseenter="shadow" @mouseleave="shadow" v-bind:style="{background : cachedNote.options.color}">
                <li><input v-model.trim="cachedNote.name" placeholder="Заголовок"></li>
                <li><textarea v-model.trim="cachedNote.text" placeholder="Новая заметка..."></textarea></li>
                <li>
                    <button type="submit" @click="save">
                        <router-link v-if="cachedNote.options.status === 'archived'" to="/archived">Сохранить</router-link>
                        <router-link v-else to="/">Сохранить</router-link>
                    </button>
                    <button type="submit">
                        <router-link v-if="cachedNote.options.status === 'archived'" to="/archived">Выйти</router-link>
                        <router-link v-else to="/">Выйти</router-link>
                    </button>
                </li>
                <li>
                    <select v-model="cachedNote.options.color" id="color">
                        <option v-for="(color,key) in colors"
                                   :key="key"
                                v-bind:value="color.value.toLowerCase()"
                                >
                            {{color.name}}
                        </option>
                    </select>
                </li>
            </ul>
        </form>
    </div>
</template>

<style lang="scss" src="./edit-note.scss" scoped></style>
<script src="./edit-note.js"></script>
