<template>
    <div class="main-notes">
        <search-text  @searchText="searchTextNote"/>
        <create-note/>
        <template v-if="searchText">
            <show-notes-filter v-for="(status, index) in statuses" :key="index"
                               :notes="allNotes"
                               :searchText="searchText"
                               :status="status"/>
        </template>
        <show-notes v-else-if="!isRouteMain" :notes="allNotes" :status="statuses.new"/>
        <show-notes v-else-if="!isRouteArchived" :notes="allNotes" :status="statuses.archived"/>
    </div>
</template>

<script>
import CreateNote from '@/components/create-note/create-note.vue'
import ShowNotes from '@/components/show-notes/show-notes.vue'
import ShowNotesFilter from '@/components/show-notes-filter/show-notes-filter.vue'
import SearchText from '@/components/search-text/search-text.vue'
import Note from '../../models/note'

export default {
  name: 'main-notes',
  data () {
    return {
      searchText: '',
      searchActivate: '',
      statuses: {new: Note.optionsStatusNew, archived: Note.optionsStatusArchived}
    }
  },
  computed: {
    allNotes () {
      return this.$store.getters.allNotes
    },
    isRouteMain () {
      return this.$route.name.localeCompare('MainNotes')
    },
    isRouteArchived () {
      return this.$route.name.localeCompare('ArchivedNotes')
    }
  },
  methods: {
    searchTextNote: function (searchText) {
      this.searchText = searchText
    }
  },
  components: {
    'create-note': CreateNote,
    'show-notes': ShowNotes,
    'show-notes-filter': ShowNotesFilter,
    'search-text': SearchText
  }
}
</script>

<style lang="scss" src="./main-notes.scss" scoped></style>
