<template>
    <div class="search-text">
        <form>
            <input  v-model.trim="searchText" placeholder="Искать здесь..." type="text" v-on:input="searchTextInNotes">
            <button type="submit">Поиск</button>
        </form>
    </div>
</template>

<style lang="scss" src="./search-text.scss" scoped></style>
<script src="./search-text.js"></script>
