<template>
    <div class="show-notes">
        <p v-if="status === 'archived' && searchNotes.length>0">Архив</p>
        <div class="product-item" v-for="(note, key) in searchNotes" :key="key"
             v-bind:style="{background : note.options.color}">
            <div class="product-list">
                <h3>{{ note.name }}</h3>
                <h3 class="text">{{ note.text }}</h3>
                <button  v-if="note.options.status === 'archived'" class="button" @click="ofArchive(note)">из архива</button>
                <button  v-else class="button" @click="addArchive(note)">в архив</button>
                <button class="button"><router-link
                        :to="{name: 'EditNote', params: {id: note.uuidv1 }}">Редактировать
                </router-link></button>
                <button class="button" @click="removeNote(note)">&times;</button>
            </div>
        </div>
    </div>
</template>

<style lang="scss" src="./show-notes-filter.scss" scoped></style>
<script src="./show-notes-filter.js"></script>
